html {
	color: black;
	margin: 0;
	padding: 0;
}

p, ul, dl, ol {
	font-family: Open_Sans;
	line-height: 1.6;
	font-size: 16px;
}

h3 {
	font-family: Open_Sans;
	font-size: 20px;
	font-weight: normal;
}
@font-face {
  font-family: Juicy;
  src: url(../font/extra_fruity/Extra_Fruity.ttf);
}

@font-face {
  font-family: Open_Sans;
  src: url(../font/Open_Sans/OpenSans-Light.ttf);
}


@font-face {
  font-family: Fruity;
  src: url(../font/blueberry-font/Blueberry-83on.ttf);
}

@font-face {
  font-family: Arima;
  src: url(../font/arima-madurai/ArimaMadurai-Bold.ttf);
}


header {
	width: 100%;
}

.burger {
	float: right;
}


#myDIV {
	  display: none;
	  float: right;
	  width: 560px;
	  justify-content: space-between;
	  padding: 20px 0px 20px 20px;
	  
	  }
	  
	  #myDIV a {
		  text-decoration: none;
		  padding-left: 15px;
		  font-size: 27px;
		  font-family: Open_Sans;
		  font-weight: bold;
		  color: white;
	  }
	  
	   #myDIV a:hover {
		  text-decoration: underline;
		  
	  }
	  
	  #myDIV .active {
		  text-decoration: underline;
		text-decoration-style: double;
	  }

blockquote {
border-left: 2px solid #ffb8b8;
    font-family: Open_Sans;
    background-color: #ffe7eb;
	
font-size: 16px;
padding: 10px 5px 5px 10px;
}

table, th, td {
  border: 1px solid #888585;
  border-collapse: collapse;
  text-align: left;
padding: 5px;
font-family: Open_Sans;
}

tr:nth-child(even) {
  background-color: #e9ff93;
}

blockquote::before {
  content: open-quote;
  font-size: 30px;
}
blockquote::after {
  content: close-quote;
  font-size: 30px;
}
blockquote {
  quotes: "“" "”" "‘" "’";
}

.white {
	color: white;
}
.special {
	font-family: Arima;
	font-size: 30px;
	text-align: center;
	color: gold;
}

h1 {
font-size: 80px;
text-align: center;
font-family: Fruity;
}

h2 {
font-size: 60px;
color: 	orange;
text-align: center;
font-family: Open_Sans;
}

.banner_container {
	width: 100%;
	margin: 0 auto 0 auto;
	height: 300px;
	background-image: url(../images/upsidedown.svg);
	background-size: cover;
}

.container {
	width: 100%;
/*	margin: 0 auto 0 auto;	*/
}


.row {
	margin: 0 auto 0 auto;
	width: 800px;
	padding-top: 20px;
	padding-bottom: 20px;
	}


.bg_row {
	width: 100%;
	height: auto;
	padding-top: 30px;
	padding-bottom: 30px;
}
.row_text {
width: 600px;	

	margin: 0 auto 0 auto;
}

.fruit_row {
width: 500px;
margin: 0 auto 0 auto;
	display: flex;
    justify-content: space-between;
	padding-bottom:60px;
}


.fruit_icon img {
	width: 100px;
    height:auto;
}

.fruit_icon img:hover {
	 filter: saturate(400%);
}



.swirl {
	width: 100%;
	height: 200px;
	background-size: cover;
}

footer {
	width: 100%;
}

.footer_text_container {
	width: 800px;
	margin:0 auto 0 auto;
	    line-height: 0;
    padding: 1px;
}


.footer_text_container p {
	text-align: center;
}